---
import { Picture } from "@astrojs/image/components";

export interface Props {
  title: string;
  number: number;
  body: string;
  image: SlideImage;
}

type SlideImage = {
  src: string;
  widths: number[];
  ar: number;
  sizes: string;
};

const {
  title,
  number,
  body,
  image: { src, widths, ar, sizes },
} = Astro.props;
---

<figure>
  <figcaption>
    <span>{number}.</span>
    <h3>{title}</h3>
    <p>{body}</p>
  </figcaption>
  <Picture
    src={src}
    widths={widths}
    aspectRatio={ar}
    format="avif"
    sizes={sizes}
    alt={title}
  />
</figure>

<style>
  figure {
    @apply flex max-w-full overflow-hidden flex-col-reverse lg:flex-row items-center gap-30 lg:gap-50 justify-around;
  }

  figure img {
    @apply flex-shrink;
    @apply max-h-[300px] w-auto md:max-h-none min-w-0;
  }

  figure figcaption {
    @apply lg:w-[300px];
    @apply bg-light rounded-lg p-20;
    @apply flex flex-col gap-10 flex-shrink-0;
  }

  figure figcaption > span {
    @apply block;
    @apply text-2xl font-serif text-orangeDark;
    @apply w-[52px] h-[52px] text-center leading-[3rem];
    @apply border-2 border-orange rounded-full;
    @apply mb-10;
  }
</style>
