---
import { Image } from "@astrojs/image/components";
import logo from "../images/logo.svg";

const alternatives = [
  {
    title: "Wypełnianie plików PDF",
    body: "Sprawdza się najlepiej przy tworzeniu stałych i powtarzalnych pism urzędowych. Minusem tej opcji jest konieczność uzupełniania wszystkich pól formularza za każdym razem.",
    reply:
      "Dokumenty stworzone z Prawniczkiem zawierają niezbędne zapisy dopasowane do konkretnej sytuacji. Dostępne są również dodatkowe zapisy, które pozwolą Ci zabezpieczyć się na wypadek nieprzewidzianych sytuacji.",
  },
  {
    title: "Korzystanie z plików Word",
    body: "Zaletą tego rozwiązania jest możliwość wielokrotnego użycia i tworzenia kilku podobnych dokumentów. Wiąże się to z koniecznością każdorazowej edycji całego dokumentu i możliwością popełnienia błędu.",
    reply:
      "Generator tworzy nowy dokument za każdym razem. Możesz stworzyć inteligentny szablon, który znacznie przyspieszy proces tworzenia podobnego dokumentu oraz korzystać z zapisanych wcześniej tożsamości i preferencji.",
  },
  {
    title: "Usługa u prawnika",
    body: "W ten sposób uzyskasz dopasowany rezultat. ",
    reply:
      "Chcieliśmy, aby serwis jak najlepiej oddawał realną usługę świadczoną przez prawnika, kładąc przy tym nacisk na edukację klienta oraz przystępną cenę. Aplikacja działa 24 godziny na dobę i może obsługiwać wielu użytkowników jednocześnie.",
  },
];
---

<section>
  <header>
    <h3>Inne rozwiązania</h3>
    <Image src={logo} alt="logo" width={135} height={32} />
  </header>
  <div>
    {
      alternatives.map(({ title, body, reply }) => (
        <>
          <div>
            <h4>{title}</h4>
            <p>{body}</p>
          </div>
          <blockquote>
            <Image src={logo} alt="logo" width={135} height={32} />
            <p>{reply}</p>
          </blockquote>
        </>
      ))
    }
  </div>
</section>

<style>
  section {
    @apply rounded-lg bg-light;
    @apply p-30 pb-10;
  }

  section > header,
  section > div {
    @apply grid md:grid-cols-2 gap-15 md:gap-40;
  }

  section > header {
    @apply items-center pb-10;
  }

  section > header img {
    @apply hidden md:block;
  }

  section > div {
    @apply py-20 items-start;
  }

  section > div h4 {
    @apply text-orangeDark mb-10;
  }

  blockquote {
    @apply bg-yellow rounded-lg p-15;
    @apply font-bold text-dark75;
    @apply mb-30 md:mb-0;
  }

  blockquote img {
    @apply mb-10;
    @apply block md:hidden;
  }
</style>
